.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 
        Si se necesita hacer mas grande
        Multiplicar el height por 2, 8 * 2 = 16rem
    */
    height: 2.5rem;
    /*
        Ubicando el contendor del Loader / -
        Spinner en el centro del grid en mainCards
        del elemento main.
    */
    grid-area: 2 / 2 / 3 / 3;
}

.loaderSvg {
    /*
        Se crea una animacion de rotacion
        para el loader, se le da un tiempo de 1s
        y se le da un efecto de linearidad
        para que la animacion sea constante
    */
    animation: spin 1s linear infinite;
    /* 
        Si se necesita hacer mas grande
        Multiplicar el height y width
        por 2, 2.5 * 2 = 5rem
    */
    height: 2.5rem;
    width: 2.5rem;
    color: #06b6d4;
}

.loaderSvg > circle {
    opacity: 0.25;
}

.loaderSvg > path {
    opacity: 1;
    color: white;
}

/*
    Se utiliza la propiedad @keyframes para crear
    una animacion de rotacion, se define que la 
    animacion va a ser de 0 a 360 grados, usando
    la propiedad transform y la funcion rotate.
    con la propiedad to se define el estado final
    de la animacion, en este caso 360 grados.
*/
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* -------------------------------------------------------------------------- */

.BubbleLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    height: 80px;
}

.BubbleLoader > span {
    width: 12px;
    height: 12px;
    background: #06b6d4;
    border-radius: 50%;
    animation: bubble 0.8s infinite ease-in-out;
}

.BubbleLoader span:nth-child(2) {
    animation-delay: 100ms;
}

.BubbleLoader span:nth-child(3) {
    animation-delay: 200ms;
}

.BubbleLoader span:nth-child(4) {
    animation-delay: 300ms;
}

/* --------------------------------------------------------- */

.BubbleSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BubbleSpinner > div {
    width: 2rem;
    height: 2rem;   
    position: absolute;
    animation: bubbleSpinner 1.2s infinite cubic-bezier(0.22, 0.61, 0.36, 1);
}

.BubbleSpinner span {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #06b6d4;
    border-radius: 50%;
}

.BubbleSpinner div:nth-child(2) {
    animation-delay: 200ms;
}

.BubbleSpinner div:nth-child(3) {
    animation-delay: 400ms;
}

.BubbleSpinner div:nth-child(4) {
    animation-delay: 550ms;
}

@keyframes bubble {
    0%, 80%, 100% {
        transform: scale(0.6);
        opacity: 0.6;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes bubbleSpinner {
    from {
        transform: rotate(0deg);
        opacity: 0.5;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
    /* 0% {
        transform: translate(0px, 0px) rotate(0deg);
        opacity: 0.6;
    }
    25% {
        transform: scale(1.1) translate(24px, 24px) rotate(90deg);
        opacity: 0.7;
    }
    50% {
        transform: translate(0px, 48px) rotate(180deg);
        opacity: 0.8;
    }
    75% {
        transform: translate(-24px, 24px) rotate(270deg);
        opacity: 0.9;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    } */
    /* 0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    10% {
        transform: translate(10px, 0px) rotate(45deg);
    }
    100% {
        transform: translate(10px, 10px) rotate(360deg);
    } */
}
