.view-Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: -webkit-fill-available;
    /* width: 100%; */
    height: fit-content;
    
}

.view-Header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;
    margin: 0px 5px 5px 0px;
    row-gap: 20px;
    align-items: center;
}

.view-Header h1 {
    display: inherit;
    justify-self: flex-start;
}

.view-Header img {
    display: inherit;
    justify-self: flex-end;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.view-Container p {
    width: 50%;
}

.generos {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.generosItem {
    border: purple 1px solid;
    border-radius: 12px;
    font-weight: 600;
    backdrop-filter: blur(24px) brightness(0.9);
    box-shadow: #ff76ff inset -20px -20px 10px -25px;
    padding: 4px 6px;
    /* border-purple-800 */
}