.card-Container {
    display: grid;
    /*grid-template-rows: repeat(2, minmax(50px, .5fr));*/
    grid-template-areas: 
        "titulo imagen" 
        "contenido contenido"
    ;

    box-sizing: border-box;
    border: 1px solid whitesmoke;
    width: 50%;
    border-radius: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    transition: .5s;
}

.cardTitle {
    grid-area: titulo;
    justify-self: center;
}

.cardImg {
    grid-area: imagen;
    width: 50%;
    justify-self: flex-end;
}

.cardContent {
    grid-area: contenido;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    scrollbar-color: #244 #242424;
    min-width: 0;
    min-height: 0;
    height: 120px;
}

.card-Container-view {
    display: grid;
    grid-template-areas: 
        "titulo imagen" 
        "contenido contenido"
        "contenido contenido"
    ;
    transition: inherit;

    border: solid 1px white;
    border-radius: 5px;

    width: 50%;

    aspect-ratio: 3/4;

    transform: translate(10px, 10px);

    background-color: #242424;
}

/* .card-Container-view h2 {
    grid-area: titulo;
    justify-self: center;
}

.card-Container-view img {
    grid-area: imagen;
    width: 50%;
    justify-self: flex-end;
}

.card-Container-view p {
    grid-area: contenido;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    scrollbar-color: #244 #242424;
    min-width: 0;
    min-height: 0;
    height: 120px;
} */