.card-Container {
    display: grid;
    /*grid-template-rows: repeat(2, minmax(50px, .5fr));*/
    grid-template-areas: 
        "titulo"
        "imagen" 
        "contenido"
    ;

    /* 3 estilos distintos de grid
    grid-template-areas: 
        "titulo"
        "imagen" 
        "contenido"
    ; Aqui toca cambiar el estilo de la img { width: 40%;justify-self: center; }
    estilo <p> {margin: 0px 5px;border-top: #244 solid 2px;}

    grid-template-areas: 
        "titulo titulo "
        "contenido imagen " 
        "contenido imagen"
    ;

    */

    box-sizing: border-box;
    border: 1px solid whitesmoke;
    /*width: 50%; */
    border-radius: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    transition: .5s;
}

.cardTitle {
    grid-area: titulo;
    text-align: center;
    justify-self: center;
    border-bottom: #244 solid 2px;
    width: 80%;
}

.cardImg {
    grid-area: imagen;
    width: 40%;
    justify-self: center;
    margin: 5px 0px;
}

.cardContent {
    grid-area: contenido;
    overflow: auto;
    text-overflow: clip;
    text-indent: 2ch;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    scrollbar-color: #244 #242424;
    height: 14ch;
    margin: 0px 5px;
    border-top: #244 solid 2px;
}

.card-Container-view {
    display: grid;
    grid-template-areas: 
        "titulo imagen" 
        "contenido contenido"
        "contenido contenido"
    ;
    transition: inherit;

    border: solid 1px white;
    border-radius: 5px;

    width: 50%;

    aspect-ratio: 3/4;

    transform: translate(10px, 10px);

    background-color: #242424;
}

.aside-card:hover {
    box-shadow: 0 10px 15px -3px rgb(103 232 249 / 0.9);
    transform: scale(1.05);
    transition: 300ms ease-in-out;
}

.aside-card > section > p {
    /* visibility: hidden; */
    display: none;
}

.Card:hover {
    box-shadow: 0 10px 15px -3px rgb(103 232 249 / 0.9);
    transform: scale(1.05);
    transition: 300ms ease-in-out;
    /* hover:scale-110 hover:shadow-lg hover:shadow-cyan-300/90 duration-300 */
}

.cardCont:hover {
    .cardDescription {
        visibility: visible;
    }
}

/* .card-Container-view h2 {
    grid-area: titulo;
    justify-self: center;
}

.card-Container-view img {
    grid-area: imagen;
    width: 50%;
    justify-self: flex-end;
}

.card-Container-view p {
    grid-area: contenido;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-gutter: stable;
    scrollbar-color: #244 #242424;
    min-width: 0;
    min-height: 0;
    height: 120px;
} */

/* .cardBackgroudnPer {
    background-image: var(--card-bg-img);
} */