.popUpContainer {
    --animation-type: fadeIn;
    --animation-delay: 800ms;


    margin: 10px;
    padding: 5px 15px;
    width: 220px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 3rem;
    backdrop-filter: blur(20px);
    border: var(--popUp-border-color) solid 2px;
    border-radius: 10px;

    background: radial-gradient(125% 125% at 50% 10%, #000 40%, var(--popUp-bg-color)  85%);
    animation: var(--animation-type) 800ms ease-in-out normal;
    overflow: hidden;
}

.popUpContainer > header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--popUp-border-color);
    opacity: 1.1;
}

.popUpContainer > header > svg {
    padding: 5px;
    cursor: pointer;
}

.popUpContainer > svg {
    position: absolute;
    bottom: 2%;
    right: 40%;
}

.popUpContainer > p {
    font-size: small;
    margin-bottom: 2rem;
}

@keyframes fadeIn {
    from {
        width: 0px;
        opacity: 0;
    }
    to {
        width: 220px;
        opacity: 1;
        
    }
}

@keyframes fadeOut {
    from {
        width: 220px;
        opacity: 1;
    }
    to {
        width: 0px;
        opacity: 0;
        
    }
}

/*
--Error-background-color: linear-gradient(0deg, #c44e4e 0%,#9d1616 30%,#170505 85%);
--Error-bg: radial-gradient(125% 125% at 50% 10%, #000 40%, #580000  85%);
--Error-text-color:#fffb00;
--Bg-style: var(--Error-bg);
*/