.search-Pills::-webkit-scrollbar {
    display: block;
    border-radius: 5px;
    height: 5px;
}

.search-Pills::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: rgb(33, 129, 129);
}

.search-Pills::-webkit-scrollbar-track {
    margin: 2rem;
}

.search-Pills::-webkit-scrollbar-track-piece {
    margin: 1rem;
    padding: 1rem;
}

/* .search-Pills {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-items: center;
    text-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 4px;
} */

.search-Pills {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    position: absolute;

    top: 40px;
    padding: 8px;
    gap: 1rem;
    z-index: 1;

    border-radius: 8px;
    border: white solid 1px;
    backdrop-filter: blur(10px) brightness(0.5);

    justify-items: center;
    text-wrap: nowrap;
    overflow-x: scroll;

    /* animation: appear 300ms forwards; */
}

.search-Pill {
    border: rgb(168, 85, 247) solid 1px;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
}

.search-Pills .active {
    background-color: rgb(41 6 53 / 66%);
    transform: translate3d(3px, 2px, 60px);
    transition: 300ms ease-out;
    box-shadow: #ff76ff 0px 5px 25px -5px;
}

.search-Pill:hover {
    background-color: rgb(41 6 53 / 66%);
    transform: translate3d(3px, 2px, 60px);
    transition: 300ms ease-out;
    box-shadow: #ff76ff 0px 5px 25px -5px;
}

.search-Form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 1;
    flex-grow: 2;
    padding: 4px;
}

.search-Form > div {
    display: flex;
    align-items: center;
    border:  rgb(168, 85, 247) solid 1px;
    border-radius: 4px;
    flex-shrink: 1;
    flex-grow: 2;
    justify-content: space-around;
    max-width: 800px;
}

.search-Form input {
    background-color: #242424;
    padding-left: 2px;
    border-radius: 2px;
    text-indent: 2ch;
    flex-shrink: 1;
    flex-grow: 2;
}

.search-Form input:focus {
    outline: none 0px;
}

.search-Form button {
    padding-right: 6px;
    background-color: #242424;
}

.generosButton {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border: white solid 1px;
    border-radius: 5px;
    padding: 0px 2px;
    transition-duration: 300ms;
}

.generosButton:hover {
    color: #63e;
    transform: scale(1.1);
}

@keyframes appear {
    from {
        height: 0px;
    }
    to {
        height: 250px;
    }
}

@keyframes disappear {
    from {
        height: 250px;
    }
    to {
        height: 0px;
    }
}