@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    content-visibility: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
}   


body::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 5px;
    border: white solid 1px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    scrollbar-gutter: stable;
}

.Body {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(300px, 3fr);
    gap: 10px;
    /*
    width: fit-content;
    margin: auto;
    text-align: center;
    */
}

.main-Cards {
    display: grid;
    grid-area: 1 / 2 / 1 / 3;
    grid-template-rows: auto repeat(2, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px 50px;
    margin-top: 10px;
    margin-right: 35px;
    place-items: center;
}

.view {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: -webkit-fill-available;
    height: fit-content;
}

.Display-aside {
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-rows: 25px minmax(50px, 1fr);
    grid-template-columns: minmax(100px, 1fr);
    grid-template-areas: "titulo" "contenido";
    overflow: hidden;
    gap: 15px 5px;
    padding-left: 5px;
}

.Display-aside h1 {
    grid-area: titulo;
    border-bottom: 2px solid hsl(35, 75%, 17%);
    overflow-y: auto;
    text-overflow: ellipsis;
    min-height: 0;
    height: 30px;
}

.aside-cards-container {
    display: grid;
    grid-area: contenido;
    place-items: center;
    gap: 10px 5px;
    overflow-y: auto;
    transition: .5s;
    padding: .5rem .5rem;
}

footer {
    margin-top: 1rem;
    padding: .5rem .2rem;
    backdrop-filter: blur(5px) brightness(.5);
}

footer > section > ul {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.footerAncor {

    border-bottom: #fff solid 1px;
}

.footerAncor:hover {
    border-color: rgb(126, 178, 255);
    transform: scale(1.1, 1.1);
}

.search {
    display: flex;
    width: 90%;
    gap: 10px;
    grid-area: 1 / 1 / 1 / 4;
}

/* Obligatorio el responsive Muelto*/

@media (width > 950px) {
    .main-Cards {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .view-Container {
        width: 800px;
        height: 550px;
    }
}

@media (width < 950px) {
    .card-Container p {
        font-size: smaller;
    }

    .card-Container h1 {
        font-size: small;
        font-weight: 400;
    }

    .Display-aside header h1 {
        font-size: small;
        font-weight: 500;

    }

    /* .main-Cards {
        padding: 5px;
        width: 90%;
        height: 100dvh;
        overflow-y: scroll;
        scrollbar-width: none;
        scrollbar-gutter: stable;
        
    } */
}   

/*      Utilizando flex para hacer el layout basico de las cartas y los mangas

.Body {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.main-Cards {
    display: inherit; /*flex
    flex-flow: row wrap;
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 4;

*/